.body{
  padding: 0;
  margin: 0;
  font-family: Menlo, Monaco, Lucida Console, 'Courier New', Courier, monospace;
  line-height: 1 !important;

}

.bodyBack{
  background-color: white;
}

.bodyBackDark{
  background-color:  #404040;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 6rem 30px 6rem;
  min-height: 100vh;
  background-color: white;
  color: #262522;
}

.mainDark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 6rem 30px 6rem;
  min-height: 100vh;
  background-color: #404040;
  color: #BFBFBF;
}

.mainSectionRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.heroSectionRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.mainSectionRowSkills{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.mainSectionRowSpace{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0 0px 0;
}

.mainSectionColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom:30px
}

.containterColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.imageStyle{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.iconStyle{
  width: 20px;
  height: 20px;
}

.iconStyleBorder{
  width: 15px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.iconStyleBorder:hover{
  width: 15px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color:#BFBFBF;
}

.textCity:hover{
  border-bottom: 1px solid #262522;
}

.textName{
  font-weight: bold;
  font-size: xx-large;
  margin: 0 0 10px 0;
}

.textSection{
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
}

.textNameSubSection{
  font-weight: bold;
  font-size: medium;
  margin: 0 0 10px 0;
}

.textNameSubSectionEduc{
  font-weight: bold;
  font-size: medium;
  margin: 0;
}

.mainSectionRowCity{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration:none;
  color: #262522;
  margin: 10px 0 10px 0;
}

.textSkill{
  padding: 5px;
  color: #BFBFBF;
  background-color: #404040;
  border-radius: 10px;
  margin: 10px 5px 0 0;
  text-wrap: nowrap;
  font-weight: bold;
}

.textExperienceSummary{
  padding: 10px 0 10px 0;
  text-align: justify;
}

.projectCard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  width: 25vw;
  height: 25vw;
}

.textProjectChip{
  padding: 5px;
  color: #262522;
  background-color: #BFBFBF;
  border-radius: 10px;
  margin: 10px 5px 0 0;
  text-wrap: nowrap;
  font-weight: bold;
  font-size: 12px;
}

.appBarStyle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:  rgba(99, 101, 115, 0.47);
  color: #262522;  
  backdrop-filter: blur(5px);
  width:900px;
  margin: 20px auto 0 auto;
  padding: 0;
  border-radius: 30px;
}

.styleToolbar{
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.rowAppbarStyle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.appBarLink{
  color: #262522 ;
  text-decoration: none ;
  opacity: 1;
  font-size: normal;
}

.appBarLink:hover{
  color:#D9933D ;
  text-decoration: none ;
  opacity: 1;
  font-size: normal;
  font-weight: bold;
}

.languageImage{
  width: 20px;
  height: 20px;
}

.estiloImage{
  width: 20px;
  height: 20px;
}

.projectTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 30px 0;
  font-weight: bold;
}

.projectTitle:hover{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 30px 0;
  font-weight: bold;
  text-decoration: underline;
}


.projectText{
  font-size: small;
}

.aboutText{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: justify;
}

.experienceStudy{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 15px 0;
}