.body{
  padding: 0;
  margin: 0;
  font-family: Menlo, Monaco, Lucida Console, 'Courier New', Courier, monospace;
  line-height: 1 !important;

}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 6rem 30px 6rem;
  min-height: 100vh;
  background-color: white;
  color: black;
}

.mainDark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 6rem 30px 6rem;
  min-height: 100vh;
  background-color: grey;
  color: whitesmoke;
}

.mainSectionRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mainSectionRowSkills{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.mainSectionRowSpace{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}

.mainSectionColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom:30px
}

.imageStyle{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.iconStyle{
  width: 20px;
  height: 20px;
}

.iconStyleBorder{
  width: 15px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.textCity:hover{
  border-bottom: 1px solid black;
}

.textName{
  font-weight: bold;
  font-size: xx-large;
}

.textSection{
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
}

.textNameSubSection{
  font-weight: bold;
  font-size: medium;
  margin: 0 0 10px 0;
}

.mainSectionRowCity{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration:none;
  color: black;
}

.textSkill{
  padding: 5px;
  color: white;
  background-color: grey;
  border-radius: 10px;
  margin: 10px 5px 0 0;
  text-wrap: nowrap;
  font-weight: bold;
}

.textExperienceSummary{
  padding: 10px 0 10px 0;
  text-align: justify;
}

.projectCard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  width: 25%;
}

.textProjectChip{
  padding: 5px;
  color: black;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 10px 5px 0 0;
  text-wrap: nowrap;
  font-weight: bold;
  font-size: 12px;
}

.appBarStyle{
  background-color: whitesmoke;
  color: black;  
  opacity: 0.8;
  filter: alpha(opacity=100);
  zoom: 1;
}

.rowAppbarStyle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.appBarLink{
  color: black ;
  text-decoration: none ;
  opacity: 1;
}

.languageImage{
  width: 30px;
  height: 30px;
}

.estiloImage{
  width: 20px;
  height: 20px;
}