.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.mainSectionRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mainSectionRowSpace{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainSectionColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.imageStyle{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.iconStyle{
  width: 20px;
  height: 20px;
}

.iconStyleBorder{
  width: 15px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.textCity:hover{
  border-bottom: 1px solid black;
}

.textName{
  font-weight: bold;
  font-size: xx-large;
}

.textSection{
  font-weight: bold;
  font-size: larger;
}

.textNameSubSection{
  font-weight: bold;
  font-size: medium;
}

.mainSectionRowCity{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration:none;
  color: black;
}